body {
  overflow-x: hidden;
  min-height: 100vh;
}
.wap-container {
  background-image: url(../img/bg.png);
}
.wap-container .banner {
  height: 8.03rem;
  background-image: url(../img/banner.png);
  background-size: 100%;
}
.wap-container .nav-wrap {
  overflow-x: auto;
  background: url(../img/nav_bg.png) repeat;
  height: 0.62rem;
  user-select: none;
}
.wap-container .nav-wrap .nav-list {
  display: flex;
  position: relative;
  height: 0.63rem;
  overflow-x: auto;
}
.wap-container .nav-wrap .nav-list .nav-item {
  flex: 0 0 auto;
  float: left;
  padding: 0 0.35rem;
  height: 100%;
  background-size: contain;
  font-size: 0.28rem;
  color: #000;
  font-weight: bolder;
  user-select: none;
}
.wap-container .nav-wrap .nav-list .nav-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  color: inherit;
}
.wap-container .nav-wrap .nav-list .nav-active {
  color: #d2a75a;
  background-color: #151515;
}
.wap-container #part1 {
  position: relative;
  height: 6.89rem;
  background: url(../img/part1_bg.png) no-repeat;
  background-size: 100%;
}
.wap-container #part1 .content {
  position: absolute;
  top: 2.4rem;
  left: 0.15rem;
  width: 7.04rem;
  height: 3.96rem;
}
.wap-container #part1 .content .slide-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.wap-container #part1 .content .slide-box ul {
  width: 100%;
  height: 100%;
}
.wap-container #part1 .content .slide-box ul li {
  position: relative;
  width: 7.04rem;
  height: 100%;
}
.wap-container #part1 .content .slide-box ul li video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wap-container #part1 .content .slide-box ul li .video-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.56rem;
  margin-top: -1.07rem;
  width: 3.12rem;
  height: 2.14rem;
}
.wap-container #part1 .content .slide-box ul li .video-logo .logo {
  position: absolute;
  width: 3.12rem;
  height: 2.14rem;
  background: url(../img/video_logo.png) center no-repeat;
  background-size: 100%;
}
.wap-container #part1 .content .slide-box ul li .video-logo .logo .play {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.84rem;
  height: 0.84rem;
  margin-left: -0.42rem;
  margin-top: -0.42rem;
  background: url(../img/video_play.png) center no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.wap-container #part1 .content .back,
.wap-container #part1 .content .next {
  position: absolute;
  top: 50%;
  width: 0.57rem;
  height: 0.43rem;
  margin-top: -0.215rem;
}
.wap-container #part1 .content .back {
  left: -0.05rem;
  background: url(../img/back.png) no-repeat;
  background-size: 100%;
}
.wap-container #part1 .content .next {
  right: -0.05rem;
  background: url(../img/next.png) no-repeat;
  background-size: 100%;
}
.wap-container #part2 {
  position: relative;
  height: 6.87rem;
  background: url(../img/part2_bg.png) no-repeat;
  background-size: 100%;
}
.wap-container #part2 .content {
  position: absolute;
  top: 2.4rem;
  left: 0.2rem;
  width: 7.1rem;
  height: 4.13rem;
}
.wap-container #part2 .content .slide-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.wap-container #part2 .content .slide-box ul li {
  position: relative;
  width: 7.1rem;
  height: 4.13rem;
}
.wap-container #part2 .content .slide-box ul li img {
  width: 100%;
  height: 100%;
}
.wap-container #part2 .content .slide-box ul li .info {
  position: absolute;
  bottom: 0.35rem;
  left: 50%;
  margin-left: -2.55rem;
  padding: 0 0.05rem;
  width: 5.1rem;
  height: 0.82rem;
  background-image: url(../img/part2_text_bg.png);
}
.wap-container #part2 .content .slide-box ul li .info .title {
  font-size: 0.3rem;
  font-weight: bolder;
  text-align: center;
}
.wap-container #part2 .content .slide-box ul li .info .text {
  font-size: 0.24rem;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wap-container #part2 .content .back,
.wap-container #part2 .content .next {
  position: absolute;
  top: 50%;
  width: 0.57rem;
  height: 0.43rem;
  margin-top: -0.215rem;
}
.wap-container #part2 .content .back {
  left: -0.05rem;
  background: url(../img/back.png) no-repeat;
  background-size: 100%;
}
.wap-container #part2 .content .next {
  right: -0.05rem;
  background: url(../img/next.png) no-repeat;
  background-size: 100%;
}
.wap-container #part2 .content .wap-slide-ctr {
  width: 100%;
  text-align: center;
  margin-top: -0.1rem;
}
.wap-container #part2 .content .wap-slide-ctr i {
  display: inline-block;
  width: 0.09rem;
  height: 0.09rem;
  margin-left: 0.15rem;
  background: url(../img/part2_slide_default.png) center no-repeat;
  cursor: pointer;
}
.wap-container #part2 .content .wap-slide-ctr i:first-child {
  margin-left: 0;
}
.wap-container #part2 .content .wap-slide-ctr .current {
  background-image: url(../img/part2_slide_current.png);
}
.wap-container #part3 {
  position: relative;
  height: 10.44rem;
  background: url(../img/part3_bg.png) no-repeat;
  background-size: 100%;
}
.wap-container #part3 .content {
  position: absolute;
  top: 38.6667vw;
  left: 8.6667vw;
  width: 6.86rem;
  height: 75.3333vw;
}
.wap-container #part3 .content .slide-container {
  display: none;
  float: left;
  position: relative;
  width: 2.97rem;
  height: 5.66rem;
}
.wap-container #part3 .content .slide-container:nth-child(1) {
  display: block;
}
.wap-container #part3 .content .slide-container .slide-box {
  overflow: hidden;
  height: 100%;
}
.wap-container #part3 .content .slide-container .slide-box ul {
  height: 100%;
}
.wap-container #part3 .content .slide-container .slide-box .slide-div {
  width: 39.6vw;
  height: 75.4667vw;
}
.wap-container #part3 .content .slide-container .slide-box .slide-div .slide-div-item {
  float: left;
  width: 39.6vw;
  height: 75.4667vw;
}
.wap-container #part3 .content .slide-container .slide-box .slide-div .slide-div-item a {
  display: inline-block;
}
.wap-container #part3 .content .slide-container .slide-box .slide-div .slide-div-item a img {
  width: 39.6vw;
  height: 75.4667vw;
}
.wap-container #part3 .content .slide-container .slide-ctr {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.25rem;
  text-align: center;
}
.wap-container #part3 .content .slide-container .slide-ctr i {
  display: inline-block;
  background: url(../img/part2_slide_default.png) center no-repeat;
  cursor: pointer;
}
.wap-container #part3 .content .slide-container .slide-ctr .current {
  background-image: url(../img/part3_slide_current.png);
}
.wap-container #part3 .content .slide-container .back-next {
  position: absolute;
  left: -0.565rem;
  bottom: 0;
  width: 0.58rem;
  height: 1.07rem;
  background: url(../img/part3_btn_bg.png) center no-repeat;
}
.wap-container #part3 .content .slide-container .back-next .back,
.wap-container #part3 .content .slide-container .back-next .next {
  width: 100%;
  height: 50%;
  cursor: pointer;
}
.wap-container #part3 .content .slide-container .back-next .back {
  background: url(../img/part3_slide_back.png) center no-repeat;
}
.wap-container #part3 .content .slide-container .back-next .next {
  position: relative;
  background: url(../img/part3_slide_next.png) center no-repeat;
}
.wap-container #part3 .content .slide-container .back-next .next::before {
  content: "";
  position: absolute;
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  opacity: 0.2;
  left: 50%;
  margin-left: -1.4667vw;
  top: 0;
  width: 2.9333vw;
  height: 0;
}
.wap-container #part3 .content .select-container.nano {
  overflow-y: auto;
  float: right;
  width: 48vw;
  height: 100%;
}
.wap-container #part3 .content .select-container.nano .nano-pane {
  left: 3px;
  right: auto;
  width: 1px;
  background: #000;
}
.wap-container #part3 .content .select-container.nano .nano-slider {
  left: -3px;
  background: #000;
  width: 6px;
  height: 80px !important;
  opacity: 1;
  border-radius: 0;
}
.wap-container #part3 .content .select-container.nano .list {
  left: 15px;
}
.wap-container #part3 .content .select-container.nano .list:focus {
  outline: none;
}
.wap-container #part3 .content .select-container.nano .list .item {
  padding-left: 5px;
  line-height: 2.1;
  color: #000;
  font-size: 0.26rem;
  font-family: "YJcujihei";
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.wap-container #part3 .content .select-container.nano .list .item.current {
  background: url(../img/part3_selected.png);
}
.wap-container #part4 {
  position: relative;
  height: 8.54rem;
  background: url(../img/part4_bg.png) center no-repeat;
  background-size: 100%;
}
.wap-container #part4 .content {
  position: absolute;
  top: 2.4rem;
  left: 50%;
  margin-left: -42.0666vw;
  width: 6.31rem;
  height: 4.94rem;
}
.wap-container #part4 .content .slide-container {
  height: 100%;
}
.wap-container #part4 .content .slide-container .slide-box {
  overflow: hidden;
  height: 100%;
}
.wap-container #part4 .content .slide-container .slide-box li {
  width: 2.98rem;
  height: 4.94rem;
}
.wap-container #part4 .content .slide-container .slide-box li .left-content,
.wap-container #part4 .content .slide-container .slide-box li .right-content {
  position: relative;
  float: left;
  width: 2.98rem;
}
.wap-container #part4 .content .slide-container .slide-box li .left-content .click_before,
.wap-container #part4 .content .slide-container .slide-box li .right-content .click_before {
  display: block;
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  width: 100%;
  text-align: center;
}
.wap-container #part4 .content .slide-container .slide-box li .left-content .click_before .title,
.wap-container #part4 .content .slide-container .slide-box li .right-content .click_before .title {
  font-size: 0.24rem;
  color: #f7ca7f;
  font-weight: bolder;
  font-family: "YJcujihei";
  line-height: 1.644;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.wap-container #part4 .content .slide-container .slide-box li .left-content .click_after,
.wap-container #part4 .content .slide-container .slide-box li .right-content .click_after {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=50);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #cca169);
}
.wap-container #part4 .content .slide-container .slide-box li .left-content .click_after .info,
.wap-container #part4 .content .slide-container .slide-box li .right-content .click_after .info {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  margin-left: 5%;
  height: 1rem;
  width: 88%;
}
.wap-container #part4 .content .slide-container .slide-box li .left-content .click_after .info .title,
.wap-container #part4 .content .slide-container .slide-box li .right-content .click_after .info .title {
  margin-bottom: 5px;
  font-size: 0.24rem;
  font-weight: bolder;
  font-family: "YJcujihei";
  color: #000000;
  line-height: 1.644;
  text-align: center;
}
.wap-container #part4 .content .slide-container .slide-box li .left-content .click_after .info .text,
.wap-container #part4 .content .slide-container .slide-box li .right-content .click_after .info .text {
  font-size: 0.18rem;
  font-family: "FZLTHJW";
  color: #000000;
  line-height: 1.5;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
.wap-container #part4 .content .slide-container .slide-box li img {
  width: 39.7333vw;
  height: 65.8667vw;
}
.wap-container #part4 .content .slide-container .slide-box li .right-content {
  float: right;
}
.wap-container #part4 .content .back,
.wap-container #part4 .content .next {
  position: absolute;
  top: 50%;
  height: 5.7333vw;
  width: 7.6vw;
  margin-top: -2.8666vw;
}
.wap-container #part4 .content .back {
  left: -6.111vw;
  background: url(../img/back.png) no-repeat;
  background-size: 100%;
}
.wap-container #part4 .content .next {
  right: -6.111vw;
  background: url(../img/next.png) no-repeat;
  background-size: 100%;
}
.wap-container #part5 {
  position: relative;
  width: 100vw;
  height: 135.2vw;
  background: url(../img/part5_bg.png) center no-repeat;
  background-size: 100%;
}
.wap-container #part5 .content {
  position: absolute;
  top: 33.3333vw;
  left: 7.3333vw;
  height: 84.6667vw;
  width: 89.3333vw;
}
.wap-container #part5 .content .slide-box {
  height: 84.6667vw;
  width: 89.3333vw;
  overflow: hidden;
}
.wap-container #part5 .content .slide-box ul {
  height: 84.6667vw;
}
.wap-container #part5 .content .slide-box ul li {
  position: relative;
  height: 84.6667vw;
  width: 100%;
}
.wap-container #part5 .content .slide-box ul li .big-pic {
  width: 48.6667vw;
  height: 72.5333vw;
}
.wap-container #part5 .content .slide-box ul li .big-pic img {
  width: 48.6667vw;
  height: 72.5333vw;
  object-fit: cover;
}
.wap-container #part5 .content .slide-box ul li .info {
  position: absolute;
  top: 0;
  right: 0.6667vw;
  width: 39.0667vw;
  height: 84.6667vw;
}
.wap-container #part5 .content .slide-box ul li .info .small-pic {
  position: relative;
  margin-left: 3.8667vw;
  margin-top: 6.6667vw;
  width: 29.0667vw;
  height: 29.2vw;
}
.wap-container #part5 .content .slide-box ul li .info .small-pic .pic-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.0667vw;
  height: 29.2vw;
  background-image: url(../img/part5_pic_right_bg.png);
  background-size: 100%;
}
.wap-container #part5 .content .slide-box ul li .info .small-pic img {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1.7333vw;
  margin-left: 1.6vw;
  width: 25.7333vw;
  height: 25.8667vw;
  object-fit: cover;
}
.wap-container #part5 .content .slide-box ul li .info .name {
  margin-top: 4.6667vw;
  margin-left: 3.8667vw;
  font-size: 0.36rem;
  font-weight: bolder;
}
.wap-container #part5 .content .slide-box ul li .info .desc {
  margin: 4.6667vw 3.8667vw;
  font-size: 0.26rem;
  line-height: 1.6;
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.wap-container #part5 .content .slide-box .back,
.wap-container #part5 .content .slide-box .next {
  position: absolute;
  top: 50%;
  height: 5.7333vw;
  width: 7.6vw;
  margin-top: -2.8666vw;
}
.wap-container #part5 .content .slide-box .back {
  left: 0;
  background: url(../img/part5_back.png) no-repeat;
  background-size: 100%;
}
.wap-container #part5 .content .slide-box .next {
  right: 0;
  background: url(../img/part5_next.png) no-repeat;
  background-size: 100%;
}
.wap-container #part5 .content .wap-slide-ctr {
  position: absolute;
  bottom: -0.5rem;
  width: 100%;
  text-align: center;
  padding-top: 4px;
  font-size: 14px;
}
.wap-container #part5 .content .wap-slide-ctr i {
  display: inline-block;
  width: 2.1333vw;
  height: 2.1333vw;
  background: url(../img/part2_slide_default.png) center no-repeat;
  cursor: pointer;
}
.wap-container #part5 .content .wap-slide-ctr .current {
  background-image: url(../img/part2_slide_current.png);
}
.wap-container #team {
  position: relative;
  height: 1.48rem;
  background: url(../img/team_bg.png) center no-repeat;
  background-size: 100%;
}
.wap-container #part1 .control,
.wap-container #part4 .control {
  display: none;
}
.wap-container .back,
.wap-container .next {
  z-index: 1;
}
.wap-container .wap-slide-ctr i,
.wap-container .slide-ctr i {
  display: inline-block;
  margin-left: 0.15rem;
  width: 0.09rem;
  height: 0.09rem;
}
.wap-container .wap-slide-ctr i:first-child,
.wap-container .slide-ctr i:first-child {
  margin-left: 0;
}
